img {
    width: 25%;
    /* margin: 1.66%; */
    margin: calc(10%/6);
}


nav {
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom:2px solid #f1f1f1;
    width: 25%;
    margin-left: calc(10%/6);
    padding: 1.2em 0 1.2em 0;
}

nav span {
    color: red;
}