section {
	width: 80%;
	height: 800px;
	/* background-image: url("https://images.unsplash.com/photo-1640702149643-d172d1463fe4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-size: 40%;
    background-position: bottom; */
    background: center/40% no-repeat url("https://images.unsplash.com/photo-1640702149643-d172d1463fe4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"),red;
    margin: 0 auto;
}

h1 {
	font-size: 100px;
    text-align: center;
	color: white;
}

h2 {
    font-size: 80px;
    text-align: center;
    color: white;
}
