
body {
  background-color: lightseagreen;
  transition: 2s;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

img {
  border-radius: 100%;
  margin-left: 27%;
  max-width: 25em;
}