
section {
    background-color: #e63946;
    width: 800px;
    height: 800px;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    background-color: #a8dadc;
    line-height: 200%;
}

/* The percentage specifically will take whatever percent from the PARENT element  */
/* in this case, 50% */
div {
    background-color: #a8dadc;
    width: 50%;
    height: 50%;
}

h2 {
    font-size: 2em;
}

article {
    font-size: 60px;
}

ul {
    font-size: 1.5em;
}